<!-- 
This is a place to insert content into a form and create cards. 
Theoretically this would only be available to those who can sign in
Guests to the site can only view the previously created cards.  
-->

<div class="form-group">
  <label for="image">Image</label>
  <input
    required
    value="<%= comic.image %>"
    type="text"
    name="image"
    id="image"
    class="form-control"
  />
</div>

<div class="form-group">
  <label for="title">name</label>
  <input
    required
    value="<%= comic.name %>"
    type="text"
    name="title"
    id="title"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea name="description" id="description" class="form-control">
  <%= comic.description %></textarea
  >
</div>
<div class="form-group">
  <label for="dateissued">Date Issued</label>
  <textarea required name="date-issued" id="date-issued" class="form-control">
  <%= comic.issued %></textarea
  >
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
